.dashboard{
    margin: 5% 0  ;
    

}

.data{
    
    width : 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19% ;
    grid-column-gap: 1%;
    

}
.date{
    display: block;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .data{
    display: block;

    
    }


}
