
.displayweather {
  height: 100%;
}



.displayweather .maincard {
  align-self: center;
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.404) ; */
  background-color: rgba(0,0,0,0.15);
  border: 1px solid white;
  display: grid;
  /* font-size: 1.125em; */
  grid-template-rows: repeat(4,1fr);
  place-items: center;
  color:black;
}

.maincard h1{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
    font-size: 4em;
    font-weight: 600;
    color: white;
}

.maincard .max-temp{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
    font-size: 1.5em;
    font-weight: 300;

}

@media screen and (max-width: 1000px) {
  
}




