/* location-and-date */

  
  .main{
    margin: 0;
    font-size: 3em;
    font-weight: 600;
  }

  .loc{
    margin: 3vh 0;
    width: 100%;
    display:grid; 
    min-height: 40%;
    grid-template-columns:  50% 50%;
   
  }
  .left{
    place-self: center;
    grid-column: 1/2;
    text-align: center; 
  }

  .left h1{
    text-align: center;
    font-size: 4em;
    margin-bottom: 1%;
    
  }

  .left .temp{
    font-size: 2em;
    text-align: center;

  }
  .right {
    /* border-left: 1px solid green ; */
    grid-column: 2/3;
    display:grid;
    grid-template-rows: 40% 40%;
    grid-row-gap: 20%;
    text-align: center;
    padding-left:  3vw;

  }
  .right  .current{
    width: 100%;
    height: 100%;
    margin-top : 5%;
    border-radius: 15%;
    border: 2px solid white;
    font-size: 100%;
    
  }


  .right .up{
    grid-row: 1/2;
    display: grid;
    /* place-items:  start start; */
    grid-template-columns: 20% 20% 20%;
    grid-column-gap: 6%;
  }

  .up img {
    margin-top: -10%;
    width: 20%;
    height : auto; 
    
  }

  .right .down{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-column-gap: 6%;
    /* place-items:  start start; */

  }

  @media screen and (max-width: 1000px) {

    .loc{
      width: 100%;
      display:grid ;

      grid-template-areas:  "top top "
                            "bottom bottom";
                           
     
      
      grid-template-columns:  50% 50%;
      
      /* background-color:black; */
    }

    .left{
      display: block;
      grid-area: top;
    }

    .left h1 {
      font-size: 200%;
      /* color: yellow; */
    }
    .left .temp{
      font-size: 130%;
      text-align: center;
  
    }




    .right {
      grid-area: bottom;
      grid-template-areas:  "left right"
                            "left right";
      
     
      grid-column: 1/3;
      display:grid;
      
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      text-align: center;
    }

  .right .up .current{
    font-size: 1em;
    width: 7em;
    height: 7em;
    margin: 3vh 0;
    border-radius: 15%;
    border: 4px solid white
    
  }

  .up img {
    margin-top: -20%; 
  }

 
  .right .down .current{
    width: 7em;
    height: 7em;
    margin: 3vh 0;
    border-radius: 15%;
    border: 4px solid white}
    
 
    .right .up{
      grid-area: left;
      grid-column: 1/2;
      display: grid;
      place-self: center;
      grid-template-rows: 32% 32% 32%;
      grid-row-gap: 1%;
      display: block;
    }
  
    .up img {
      margin-top: -10%; 
    }
  
    .right .down{
      grid-area: right;
      place-self: center;
      grid-column: 2/3;
      display: grid;
      grid-template-rows: 32% 32% 32%;
      grid-row-gap: 1%;
      display:block;
    }
  }
