
  .page{
      width: 100% ;
      display: grid;
      grid-template-rows : 10% 90%;
      overflow: hidden;
  }
  .nav  {
    width : 100%;
    display: grid;
    grid-template-columns: 20% 80%; 
    /* background-color:rgb(2, 57, 88); */
    
  }

  .nav .logo{
      border-radius: 20px;
     
      width: 100%;
      height: auto;
      /* margin */
      color: white;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      font-size: 130%;
      
      

      /* background-color: red; */
      
  }

  .nav .logo img{
      grid-column: 1/2;
      width: 30%;
    
      height : auto;
     
 
  }

  .nav.logo p{
    grid-column: 2/3;
  }
  

  
  .nav form {
    grid-column: 2/3;
    width: 100%;
    height: auto;
    place-self: center end;
    place-items: end ;
    /* background-color: pink; */
    display: grid;
    grid-template-columns: 87% 13% ;
  
    
  }


  .nav .search input {
    height : 100%;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin: auto 2.5% auto 2.5%;
    width :30%;
    border: none;
    border-radius: 30px;
    border-bottom: 2px dashed rgb(2, 57, 88);
    font-size: 100%;
    place-self: center end;
    text-align: center;
  }

  .nav .search input:focus {
    outline: none;
    border-bottom: 1% dashed rgb(2, 57, 88);
  }

  .nav .btn{
      grid-column: 2/3;
      height: 100%;
      width : 100%;
      place-self: center start;
      display: grid;
      grid-template-columns: 49% 49%;
      grid-column-gap: 5%;
      font-size: 100%;
      /* border-radius: 10px; */
  }

 
  .btn .reset {
    background-color:rgb(139, 9, 9);
    color: whitesmoke;
}

  .btn .submit:hover {
    background:#2252bc;
    color: whitesmoke;
  }

  .btn .reset:hover {
    background:#f58b11;
    color: whitesmoke;
  }

  .btn button {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 5% 15% 5% 9% ;
    text-align: center;
    font-size: 1.2em;
    border: none;
    width: aut;
    border-radius: 10px;
    background: whitesmoke;
    cursor: pointer;
    color: #2252bc;
  }

  @media screen and (max-width: 1000px) {
      
    
    .nav{
        width : 100%;
        /* display: block; */
        grid-template-columns: 30% 70%; 
      }

      .nav .logo{
        border-radius: 20px;
        display: grid;
        height: 50%;
        place-self : center ;
        /* background-color: rgb(133, 103, 128); */
    }

    .nav .logo img{
        grid-column: 1/2;
        place-self: center   ;
        /* background-color: rgb(221, 243, 221) ; */
        width: 50%;
        height : auto;
   
    }

    .nav form {
        grid-column: 2/3;
        width: 100%;
        height: auto;
        place-self: center ;
        place-items: start ;
        /* background-color: pink; */
        display: grid;
        grid-template-rows: 50% 50% ;
        grid-template-columns: 100%;
      }

      .nav .search input {
        grid-row: 1/2;
        height : 90%;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        margin: 2vh 0.5vw 1vh 0.5vw;
        width :90%;
        place-self: center;
        border: none;
        border-radius: 30px;
        border-bottom: 2px dashed rgb(2, 57, 88);
        font-size: 100%;
        text-align: center;
      }

      .nav .btn{
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: 3vh;
        height: 100%;
        width : 90%;
        place-self: center;
        display: grid;
        grid-template-columns: 49% 49%;
        grid-row-gap: 0.5vh;
        grid-column-gap: 1vw;
    }

  

  }



  
