.weather .top   {
  width : 100%;
  display: grid;
  grid-template-columns: 15% 85%; 
 

}

 .weather .location {
  color: white;
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  width: 100%;
}

form button {
  width: auto;
}




/* _________main page styling __________ */

.main {
  margin-top: 1%;
  height: 85vh;
  /* background-color: gold;  */
  width: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 2%;
  margin-top: 5%;
}

.main .logo{
  grid-row: 1/2;
  place-self: end center;
  /* background: black ; */
  width: 30%;
  height: 100%;
  display: grid;
}

.main .logo img{
  width:auto;
  height: 100%;
  place-self: center ;
}

.main .search-main{
  padding: 0;
  
  grid-row: 2/3;
  place-self: start center ;
  /* background-color: blue; */
  width: 90%;
  height: auto;
  display: grid;
}

.main .search-main form{
  place-self : center;
  width : 100%;
  /* background-color: tomato; */
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 10%;

}

.search-main input {
  grid-row: 1/2;
  place-self: center;
  height : 80%;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  margin: auto 0.5vw auto 0.5vw;
  width :50%;
  border: none;
  border-radius: 30px;
  border-bottom: 2px dashed rgb(2, 57, 88);
  font-size: 50%;
  text-align: center;
}

.search-main input:focus {
  outline: none;
  border-bottom: 3px dashed rgb(2, 57, 88);
}

.search-main .main-btn{
  /* background-color: green; */
  grid-row: 2/3;
   place-self: center;
  height: 100%;
  width : 100%;
  display:grid;
  /* grid-template-columns: 50% 50%; */
  place-items: center; 
  grid-column-gap : 2%;
}

.main-btn .submit{
  place-self: center
}



.main-btn button
{

    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 1% 5% 1% 5% ;
    text-align: center;
    font-size: 50%;
    border: none;
    border-radius: 10px;
    background: rgba(70, 58, 58, 0.274);
    cursor: pointer;
    color: white;
    margin-top: 1%;
  
}

.main-btn button:hover{
  background-color: white;
  color : #2252bc;;
}

/* mobile */



@media screen and (max-width: 1000px) {
  .weather{
    width: 100%;
  }

  .main .logo{
  place-self: center;
  /* background: blue; */
  width: 50%;
  height: auto;
  display: grid;
  }


  .main .logo img{
    width:100%;
    height: auto;
    place-self: center;

  }

  .weather .top {
    height: auto;
    width: 100%;
  }
  
  .top   {
    width : 100%;
    display: block;
    grid-template-rows: 50% 50%; 
  
  }

  .top  h1{
    margin: 0;
    font-size: 3em;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    color: blue;
    text-align: center;
    width: 100%; 
  }

  .top .search {
    grid-row: 2/3;
    place-self: center;
    width: 100%;
    height: auto;
  }

  .weather form input {
    display: block;
    margin: 0 auto;
    width: 80%;
    
  }

}

