* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box-sizing: border-box; */
}


body{
  /* margin: 12px; */
  font-size: 100%;
  
  font-family: 'Open Sans', sans-serif;
  color: white;
  height: 100%;
  background: linear-gradient(to bottom, rgb(43,50,178) 0%, rgb(20,136,204) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-rows: 100vh;
  
}


#root{
  grid-row: 1/3;
}

